@page
@model MaReSy2.Pages.ImpressumModel
@{
    ViewData["Title"] = "Impressum";
}
<style>
    .sonstiges_sonstiges {
        background-color: #403A60;
        padding-top: 10px;
        padding-bottom: 1px;
        text-align: center;
        font-family: Dunant;
    }

    .table_detail {
        padding: 2%;
        width: 100%;
        font-family: Dunant;
    }

    .form-group {
        margin: 20px;
    }

    .btnSpeichern {
        color: white;
        background-color: #B70E0C;
    }

    .sonstiges_handbuch {
        background-color: #99D6EA;
        padding: 20px;
        font-family: Dunant;
    }
</style>

<div class="sonstiges_sonstiges">
    <h1 style="color: white; font-size:50px;">Impressum</h1>
</div>

<br />

<div class="sonstiges_handbuch">
    <p>Österreichisches Rotes Kreuz<br />Landesverband Steiermark<br />Merangasse 26<br />8010 Graz</p>
    <p></p>
    <p>Telefon: ++43 (0) 50 144 5 - 10000<br />Fax: ++43 (0) 50 144 5 - 10199<br />E-Mail: landesverband(at)st.roteskreuz.at</p>
    <p></p>
    <p>E-Mail-Kontakt für Rückmeldungen bezüglich der Website: webmaster(at)st.roteskreuz.at</p>
    <p></p>
    <p>UID:  ATU28608003<br />ZVR: 531631892<br />DVR: 0470953</p>
    <h3>Vereinsbehörde</h3>
    <p>Landespolizeidirektion Steiermark (SVA)<br />Parkring 4<br />8010 Graz</p>
    <h3>Vereinsvorstand</h3>
    <p>Landesgeschäftsführung: Dir. Mag. Andreas Jaklitsch</p>
    <h3>Vereinszweck</h3>
    <p>„Der Landesverband Steiermark des Österreichischen Roten Kreuzes bezweckt in seiner nationalen und internationalen Tätigkeit, menschliches Leid überall und jederzeit zu verhüten und zu lindern. Er ist bestrebt, Leben und Gesundheit zu schützen und der Würde des Menschen Achtung zu verschaffen. Er fördert gegenseitiges Verständnis, Freundschaft, Zusammenarbeit und einen dauerhaften Frieden unter allen Völkern gemäß den Grundsätzen der internationalen Rotkreuz- und Rothalbmondbewegung."</p>
    <h3>Projektauftraggeber</h3>
    <p>Abteilung Jugendrotkreuz & Freiwilligenmanagement<br />Abteilungsleiter Ing. Patrick Lackner<br />E-Mail: <a href="mailto:jugendrotkreuz@st.roteskreuz.at" style="text-decoration: none; color: #B70E0C;">jugendrotkreuz(at)st.roteskreuz.at</a></p>
    <h3>Projektleitung</h3>
    <p>Abteilung Jugendrotkreuz & Freiwilligenmanagement<br />Landesjugendsprecher Alexander Schmidt<br />E-Mail: <a href="mailto:alexander.schmidt@st.roteskreuz.at" style="text-decoration: none; color: #B70E0C;">alexander.schmidt(at)st.roteskreuz.at</a></p>
    <h3>Copyrighthinweis</h3>
    <p>Copyright by Österreichisches Rotes Kreuz, Landesverband Steiermark.<br />Fotos: Österreichisches Rotes Kreuz und Landesverband Steiermark sofern nicht gesondert gekennzeichnet.<br /><br />Alle Inhalte dienen der persönlichen Information. Eine Weiterverwendung und Reproduktion über den persönlichen Gebrauch hinaus ist nicht gestattet. Bilder dürfen nicht ohne vorherige ausdrückliche schriftliche Genehmigung des jeweiligen Copyrightinhabers veröffentlicht oder weiterverbreitet werden, sei dies zu gewerblichen oder anderen Zwecken.<br />Zusätzlich bedeutet ein Link (Hyperlink) oder eine andere Verbindung von einer dieser Internetseiten zu einer fremden Internetseite nicht, dass der Inhalt dieser Seite gebilligt oder akzeptiert wird, noch, dass irgendeine Verantwortlichkeit für den Inhalt oder die Benutzung dieser Seiten getragen wird.
    </p>
</div>

<br />

