@page


@{
	ViewData["Title"] = "Lagerverwaltung";
}
<style>
    .lagerverwaltung_lagerverwaltung {
        background-color: #403A60;
        padding-top: 10px;
        padding-bottom: 1px;
        text-align: center;
        font-family: Dunant;
    }
</style>
<div class="lagerverwaltung_lagerverwaltung">
    <h1 style="color: white; font-size:50px;">Lagerverwaltung</h1>
</div>
<br />

    <table class="table">
        <thead>
            <tr>
                <th>ProduktId</th>
                <th>Produktname</th>
                <th>Produktbeschreibung</th>
                <th>Produktstatus</th>
                <th>Produktmenge</th>
            </tr>
        </thead>
        <tbody>
           
            
                <tr>
                    <td>1</td>
                    <td>Erste Hilfe Koffer</td>
                    <td>Beinhaltet alles um Erste Hilfe zu leisten</td>
                    <td>Verfügbar</td>
                    <td>15</td>
                    <td>
                        <!-- BEARBEITEN UND LÖSCHEN BUTTONS -->
                        <a class="btn btn-primary" asp-page="/LagerverwaltungBearbeiten" asp-route-id="1">Bearbeiten</a>
                        <a class="btn btn-danger" asp-page="/Delete" asp-route-id="">Löschen</a>

                    </td>
                </tr>
            
        </tbody>
    </table>

