@page
@model MaReSy2.Pages.LagerverwaltungHinzufügungSetModel
@{
}


<p>Standard-Produkt + Auflistung aller Produkte mit eigener Spalte für Anzahl je Produkt in Set; Zunächst anklicken, was man haben möchte, das geht dann in eigene Tabelle, wo man Anzahl festlegen kann.</p>