@page


@{
	ViewData["Title"] = "Lagerverwaltung";
}
    <h1>Lagerverwaltung</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ProduktId</th>
                <th>Produktname</th>
                <th>Produktbeschreibung</th>
                <th>Produktbild</th>
                <th>Produktstatus</th>
                <th>Produktmenge</th>
            </tr>
        </thead>
        <tbody>
           
            
                <tr>
                    <td>1</td>
                    <td>Erste Hilfe Koffer</td>
                    <td>Beinhaltet alles um Erste Hilfe zu leisten</td>
                    <td>PRODUKTBILD</td>
                    <td>Verfügbar</td>
                    <td>15</td>
                    <td>
                        <!-- Aktion Buttons wie Bearbeiten und Löschen -->
                        <a class="btn btn-primary" asp-page="/Edit" asp-route-id="">Bearbeiten</a>
                        <a class="btn btn-danger" asp-page="/Delete" asp-route-id="">Löschen</a>
                    </td>
                </tr>
            
        </tbody>
    </table>

