@page
@model LagerverwaltungHinzufügenModel
@{
    ViewData["Title"] = "Produkt hinzufügen";
}

<style>
    .lagerverwaltung_lagerverwaltung {
        background-color: #403A60;
        padding-top: 10px;
        padding-bottom: 1px;
        text-align: center;
        font-family: Dunant;
    }

    .table_detail {
        padding: 2%;
        width: 100%;
        font-family: Dunant;
    }

    .form-group {
        margin: 20px;
    }

    .btnSpeichern {
        color: white;
        background-color: #B70E0C;
    }

    .lagerverwaltung_hinzufügen {
        background-color: #99D6EA;
        padding: 20px;
        font-family: Dunant;
    }
</style>


<div class="lagerverwaltung_lagerverwaltung">
    <h1 style="color: white; font-size:50px;">Lager-Verwaltung</h1>
</div>
<br />
<div class="lagerverwaltung_hinzufügen">
    <h2 style="text-align: center;">Hinzufügung</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" id="Produktbild" class="form-control" onchange="previewImage(event)" asp-for="Produkt.Produktbild" />
            <br>
            <img id="imagePreview" src="" alt="Bildvorschau" style="display:none; width:25%" />
        </div>
        <div class="form-group">
            <label for="Produktname">Bezeichnung</label>
            <input type="text" id="Produktname" class="form-control" asp-for="Produkt.Produktname" />
        </div>
        <div class="form-group">
            <label for="Produktbeschreibung">Beschreibung</label>
            <input type="text" id="Produktbeschreibung" class="form-control" asp-for="Produkt.Produktbeschreibung" />
        </div>
        <div class="form-group">
            <label for="Produktmenge">Menge</label>
            <input type="number" id="Produktmenge" class="form-control" asp-for="Produkt.Produktmenge" />
        </div>
        <div class="form-group">
            <label for="Produktstatus">Status</label>
            <select id="Produktstatus" class="form-control" asp-for="Produkt.Produktstatus">
                <option value="Inaktiv">Inaktiv</option>
                <option value="Aktiv">Aktiv</option>
            </select>
        </div>

        <button type="submit" class="btn btnSpeichern" style="background-color: #403A60;">Speichern</button>
        <a asp-page="/Lagerverwaltung" class="btn btn-secondary" style="background-color: #B70E0C;">Abbrechen</a>
    </form>
</<div>

<script>
            function previewImage(event) {
                const file = event.target.files[0]; // Die ausgewählte Datei
                const reader = new FileReader();

                reader.onload = function () {
                    const imagePreview = document.getElementById('imagePreview');
                    imagePreview.src = reader.result; // Setze die Quelle des Bildes auf das gelesene Ergebnis
                    imagePreview.style.display = 'block'; // Zeige das Bild an
                }

                if (file) {
                    reader.readAsDataURL(file); // Lese die Datei als Data-URL
                }
            }
</script>
