@page
@model MaReSy2.Pages.Materialreservierung2Model
@{
    ViewData["Title"] = "Materialreservierung";
}

<!DOCTYPE html>
<html lang="de">
<head>
    <style>
        body {
            font-family: Dunant;
            margin: 0;
            padding: 0;
        }
    .container {
            width: 100%;
            margin: auto;
            flex-wrap: wrap;
            justify-content: space-around;
            float: left;
    }
    </style>

</head>
<body>


</body>






