@page "{id}"
@model MaReSy2.Pages.MaterialreservierungDetailsModel
@{
    ViewData["Title"] = "Materialdetails";
}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material Detailansicht</title>
    <style>
        body {
            font-family: Dunant;
            margin: 0;
            padding: 0;
        }

        .card {
            background-color: white;
            width: 50%;
            margin: 10px;
            border-radius: 8px;
            overflow: hidden;
            transition: transform 0.2s;
        }

            .card img {
                width: 100%;
                height: auto;
            }

            .card h2 {
                font-size: 24px;
                margin: 15px;
                text-align: center;
            }

            .card p {
                font-size: 16px;
                color: #555;
                margin: 0 15px 15px;
                text-align: center;
            }

        .btnZurück,
        .btnReservieren {
            display: block;
            width: 80%;
            margin: 15px auto;
            padding: 10px;
            text-align: center;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }

        .btnZurück:hover{
                background-color: #B70E0C;
                color: white;
        }

    </style>
</head>
<body>


    <div style="display: flex; justify-content: center;">
        <img src="~/images/Übungsmedikament1.png" alt="Material">
    </div>

    <div style="display: flex; justify-content: center;">
        <h2>@Model.MaterialName</h2>
    </div>

    <div style="display: flex; justify-content: center;">
        <p>@Model.Description</p>
    </div>

    <div style="display: flex; justify-content: center;">
        <form id="reservierungsForm" method="post">
            <label for="startDatum">Von:</label>
            <input type="date" id="startDatum" name="startDatum" required>

            <label for="endDatum">Bis:</label>
            <input type="date" id="endDatum" name="endDatum" required>

            <label for="anzahl">Anzahl:</label>
            <input type="number" id="anzahl" name="anzahl" min="1" value="1" required>

            <br /><br />
            <p style="text-align: center;">Verfügbarkeit:</p>

            <button type="submit" class="btnReservieren" style="background-color: #403A60;">Reservieren</button>
            <a href="/Materialreservierung" class="btnZurück" style="background-color: #B70E0C;">Abbrechen</a>
        </form>
    </div>

</body>
</html>
