@page
@model MaReSy2.Pages.ZOfflineModel
@{
    ViewData["Title"] = "Offline";
}

<style>
    .zugriff {
        display: flex;
        height: 50vh; /* Setzt die Höhe auf 20% der Ansichtsfensterhöhe */
        width: auto; /* Setzt die Breite auf 25% der Ansichtsfensterbreite */
        align-items: center;
        justify-content: center;
        color: #B70E0C;
    }

        .zugriff img {
            width: 40%; /* Bild passt sich der Breite des Containers an */
            height: auto; /* Bild passt sich der Höhe des Containers an */
            object-fit: contain; /* Behält das Seitenverhältnis des Bildes bei */
        }

    .zugrifftext {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #B70E0C;
    }

        .zugrifftext h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #B70E0C;
            font-size: 72px;
        }

    .zugrifftext2 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        flex-direction: column;
    }

        .zugrifftext2 p{
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            font-size: 24px;
        }
</style>

<div class="zugriff">
    <img src="~/images/wlan.svg" />
</div>
<div class="zugrifftext">
    <h1><strong>Offline</strong></h1>
</div>
<div class="zugrifftext2">
    <p>Es konnte keine Datenverbindung hergestellt werden.</p>
    <i>Bitte versuchen Sie es in Kürze erneut!</i>
</div>
